# Título 1 - PYTHON
![alt text](https://upload.wikimedia.org/wikipedia/commons/0/0a/Python.svg)
## Título 2
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")
### Título 3
![alt text](https://upload.wikimedia.org/wikipedia/commons/3/38/Jupyter_logo.svg)
#### Título 4
![alt text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLw4qWr-NokZ9ORlV_wjWzLb6EVUYuHD_8yw&usqp=CAU)
#### Título 4
##### Título 5
###### Título 6 

```javascript
var s = "JavaScript syntax highlighting";
alert(s);
```
 
```python
s = "Python syntax highlighting"
print s
```
 
```
No language indicated, so no syntax highlighting. 
But let's throw in a <b>tag</b>.
```

In [6]:
print ("Hola Mundo")

Hola Mundo

In [11]:
# PYTHON es NO TIPADO = No declaras Nunca el tipo de variable
# Variable Primitivas
entero = 4
decimal = 1.1
nombre = "Jose"
segundo_nombre = "David" # segundoNombre X -> Está MAL nombrada
apelllido = 'Arcinega'
estado_civil = False
estudia = True
hijos = None # vacio/nada/nulo
print(type(entero)) # int
print(type(decimal)) #float
print(type(nombre)) # str
print(type(segundo_nombre)) # str
print(type(apelllido)) # str
print(type(estado_civil)) # bool
print(type(estudia)) # bool
print(type(hijos)) # NoneType
print(type(float('nan'))) # float Not A Number nan

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
<class 'float'>

In [82]:
cadena_de_texto = """
ESTE ES UN EJEMPLO DE CADENA DE TEXTO:

Primera linea del ejemplo de una cadena de texto 
Segunda linea del ejemplo de una cadena de texto 
Tercera linea del ejemplo de una cadena de texto 
.
.
.

"""
print(cadena_de_texto)
print(type(cadena_de_texto))

ESTE ES UN EJEMPLO DE CADENA DE TEXTO:

Primera linea del ejemplo de una cadena de texto
Segunda linea del ejemplo de una cadena de texto
Tercera linea del ejemplo de una cadena de texto
.
.
.


<class 'str'>

In [12]:
print(entero)
entero = decimal
entero = estado_civil
entero = nombre
entero = segundo_nombre
print (entero)

4
David

In [159]:
# CONDICIONALES
# Truty - Falsy
tuplas = (1,2,3) # Arreglos que NO se pueden modificar
listas = [4,5,6] # Arreglos que SI se pueden modificar
diccionario = {
    'nombre' : 'Jose',
    'edad' : 22,
    'cursos': ['Python','Django','JavaScript']
}

print ("diccionario_completo = ",diccionario)
print ("valor_nombre = ",diccionario['nombre'])
print ("valor_edad =",diccionario['edad'])
print ("valor_cursos = ",diccionario['cursos'])


if('Jose'): # Truty
    #...
    #...
    print ('Truty')
else:
    #...
    #...
    print ('Falsy')
    
    
if(''): # Falsy
    print ('Truty')
else:
    print ('Falsy')
    
nulo = None 
if(nulo): # Falsy
    print ('Truty')
else:
    print ('Falsy')

# NUMEROS
if(-1): # Truty
    print ('Truty')
else:
    print ('Falsy')
    
if(0): # Falsy
    print ('Truty')
else:
    print ('Falsy')
    
if(1): # Truty
    print ('Truty')
else:
    print ('Falsy')

# DECIMALES
if(-1.1): # Truty
    print('Truty')
else:
    print('Falsy')

if(1.2): # Truty
    print('Truty')
else:
    print('Falsy')
    
if(0.0): # Falsy
    print('Truty')
else:
    print('Falsy')


# Tuplas vacias    
if(()): # Falsy
    print('Truty')
else:
    print('Falsy')

# Tuplas llenas
if((1,2,3)): # Truty
    print('Truty')
else:
    print('Falsy')
    
# listas vacias
if([]): # Falsy
    print('Truty')
else:
    print('\nFalsy')
    
# Listas llenas
if([1,2,3]): # Truty
    print('\nTruty')
else:
    print('Falsy')
    
# Diccionarios vacios
if({}): # Falsy
    print('Truty')
else:
    print('\nFalsy')
    
# Diccionarios llenos
if({'nombre' : "Jose"}): # Truty
    print('\nTruty')
else:
    print('Falsy')

diccionario_completo =  {'nombre': 'Jose', 'edad': 22, 'cursos': ['Python', 'Django', 'JavaScript']}
valor_nombre =  Jose
valor_edad = 22
valor_cursos =  ['Python', 'Django', 'JavaScript']
Truty
Falsy
Falsy
Truty
Falsy
Truty
Truty
Truty
Falsy
Falsy
Truty

Falsy

Truty

Falsy

Truty

In [2]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] # indices: 0 - 9

In [27]:
arreglo[0:3] # [0,3[ -> excluimos al indice 3  -> indice 3 = 4 
arreglo[5:]  # Hasta el Final
arreglo[:7]  # Desde el inicio
arreglo[-10] # Indice negativo empieza desde el final
arreglo[3:-2] 
arreglo[-8:8]
arreglo[-4:-1]
arreglo[-7:] # Hasta el Final
arreglo[:-3] # Desde el inicio
arreglo[:]

arreglo_tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)
arreglo_tupla[5:8]

(6, 7, 8)

In [29]:
diccionario = {
    'nombre' : 'Jose',
    'edad' : 25,
    'sueldo' : 1.2,
    'cursos': ['Python','Django','JavaScript']
}
# diccionario["nombre"]
# diccionario["sueldo"]
diccionario["cursos"]

['Python', 'Django', 'JavaScript']

In [42]:
print (arreglo_tupla)

10 in arreglo_tupla # in -> averiguo si está dentro de un arreglo

print("\n", 10 in arreglo_tupla) # True
print(type(10 in arreglo_tupla))

print("\n",32 in arreglo_tupla) # False
print(type(32 in arreglo_tupla))

# in me devuelve un bool

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

 True
<class 'bool'>

 False
<class 'bool'>

In [97]:
print(diccionario)
"nombre" in diccionario # Si Existe llave -> True **POR DEFECTO**
print("\n","nombre" in diccionario)

print("\n","Jose" in diccionario) # Valor -> False **POR DEFECTO**

print("\n","nombre" in diccionario.keys()) #-> True

print("\n","Jose" in diccionario.values()) #-> True
# in me devuelve un bool

{'nombre': 'Jose', 'edad': 22, 'cursos': ['Python', 'Django', 'JavaScript']}

 True

 False

 True

 True

In [31]:
len(arreglo) # len me devuelve la longitud del arreglo (lista, tupla o diccionario)
print (len (arreglo))

len(arreglo_tupla)
print (len (arreglo_tupla))

len(diccionario)
print (len (diccionario))

10
12
4

In [4]:
# arreglo_tupla[0] = 2 # NO puedo cambiar los elementos de las tuplas

arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
print(arreglo)

arreglo [0] = 1996 # SI puedo cambiar los elementos de las listas
arreglo [1] = "hola" 
arreglo [2] = 'mundo'

arreglo[8]= None
arreglo [9] = 0.0 
print(arreglo)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1996, 'hola', 'mundo', 4, 5, 6, 7, 8, None, 0.0]

In [5]:
arreglo

[1996, 'hola', 'mundo', 4, 5, 6, 7, 8, None, 0.0]

In [6]:
# arreglo.pop
# arreglo.append
# arreglo.insert

In [7]:
# RECORRER ELEMENTOS DE UN ARREGLO (LISTA - TPLA - DICCIONARIO)
for i in arreglo: # i = elemento en e l indice de la LISTA
    print(i)

1996
hola
mundo
4
5
6
7
8
None
0.0

In [60]:
# RECORRER ELEMENTOS DE UN ARREGLO (LISTA - TPLA - DICCIONARIO)
for i in arreglo_tupla: # i = elemento en elindice de la TUPLA
    print(indice_tuplaice_tupla)

1
2
3
4
5
6
7
8
9
10
11
12

In [72]:
# RECORRER ELEMENTOS DE UN ARREGLO (LISTA - TPLA - DICCIONARIO)
for key_diccionario in diccionario:
    print(key_diccionario)

nombre
edad
sueldo
cursos

In [70]:
contador = 0
while contador < 10:
    print(contador)
    contador += 1

0
1
2
3
4
5
6
7
8
9

In [135]:
# MAL ejemplo de DICCIONARIO
jose = {
    True : "Jose",
    False : "Arciniega",
    1 : 12.2,
    1.1 : 89,
    'edad' : 22,
    'mascotas' : [{'nombre_mascota1':"Rafaelo", 'nombre_mascota2':"Yaya"}] , # lista de diccionario
    None: None
}
jose
# DICCIONARIO CORRECTO -> llaves = string : valores = cualquier valor

{True: 12.2,
 False: 'Arciniega',
 1.1: 89,
 'edad': 22,
 'mascotas': [{'nombre_mascota1': 'Rafaelo', 'nombre_mascota2': 'Yaya'}],
 None: None}

In [137]:
print(jose[False])
print('\n',jose['edad'])
print('\n',jose['mascotas'])
print('\n',jose['mascotas'][0]["nombre_mascota1"])
print('\n',jose['mascotas'][0]["nombre_mascota2"])

Arciniega

 22

 [{'nombre_mascota1': 'Rafaelo', 'nombre_mascota2': 'Yaya'}]

 Rafaelo

 Yaya

In [138]:
# DICCIONARIOS: llaves = Valores 
jose['edad'] = 26 # cambiar valor de una llave
jose['apellido'] = 'Arciniega' # agregar una llave con su respectivo valor
jose['mascotas'][0]["nombre_mascota"] = 'Panda'# añadir un valor a una llave tipo diccionario

In [139]:
jose

{True: 12.2,
 False: 'Arciniega',
 1.1: 89,
 'edad': 26,
 'mascotas': [{'nombre_mascota1': 'Rafaelo',
   'nombre_mascota2': 'Yaya',
   'nombre_mascota': 'Panda'}],
 None: None,
 'apellido': 'Arciniega'}

In [140]:
print(jose.keys())
print(type(jose.keys()))

dict_keys([True, False, 1.1, 'edad', 'mascotas', None, 'apellido'])
<class 'dict_keys'>

In [141]:
print(jose.values())
print(type(jose.values()))

dict_values([12.2, 'Arciniega', 89, 26, [{'nombre_mascota1': 'Rafaelo', 'nombre_mascota2': 'Yaya', 'nombre_mascota': 'Panda'}], None, 'Arciniega'])
<class 'dict_values'>

In [126]:
for llave in jose.keys():
    print (llave)

True
False
1.1
edad
mascotas
None
apellido

In [127]:
for valor in jose.values():
    print (valor)

12.2
Arciniega
89
26
[{'nombre_mascota': 'Panda'}]
None
Arciniega

In [150]:
# V o V -> V
1 == 1 or 2 == 2

True

In [151]:
# V o F -> V
1 == 1 or 2 != 2

True

In [152]:
# F o F -> F
1 != 1 or 2 != 2

False

In [153]:
# V y V -> V
1 == 1 and 2 == 2

True

In [154]:
# V y F -> F
1 == 1 and 2 != 2

False

In [155]:
# F y F -> F
1 != 1 and 2 != 2

False