# Título 1 - PYTHON
![alt text](https://upload.wikimedia.org/wikipedia/commons/0/0a/Python.svg)
## Título 2
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")
### Título 3
![alt text](https://upload.wikimedia.org/wikipedia/commons/3/38/Jupyter_logo.svg)
#### Título 4
![alt text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLw4qWr-NokZ9ORlV_wjWzLb6EVUYuHD_8yw&usqp=CAU)
#### Título 4
##### Título 5
###### Título 6 

```javascript
var s = "JavaScript syntax highlighting";
alert(s);
```
 
```python
s = "Python syntax highlighting"
print s
```
 
```
No language indicated, so no syntax highlighting. 
But let's throw in a <b>tag</b>.
```

In [6]:
print ("Hola Mundo")

Hola Mundo

In [7]:
print ("Hola Mundo")

Hola Mundo

In [11]:
# No tipado = No declaras Nunca el tipo de variable
# Variable Primitivas
entero = 4
decimal = 1.1
nombre = "Jose"
segundo_nombre = "David" # segundoNombre X -> MAL
apelllido = 'Arcinega'
estado_civil = False
estudia = True
hijos = None # vacio/nada/nulo
print(type(entero)) # int
print(type(decimal)) #float
print(type(nombre)) # str
print(type(segundo_nombre)) # str
print(type(apelllido)) # str
print(type(estado_civil)) # bool
print(type(estudia)) # bool
print(type(hijos)) # NoneType
print(type(float('nan'))) # float Not A Number nan

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
<class 'float'>

In [1]:
cadena_de_texto = """
Las ventajas del lenguaje Python son las siguientes:

Simplificado y rápido
Este lenguaje simplifica mucho la programación 
“hace que te adaptes a un modo de lenguaje de programación,
Python te propone un patrón”. Es un gran lenguaje para scripting,
si usted requiere algo rápido
(en el sentido de la ejecución del lenguaje),
con unas cuantas líneas ya está resuelto.
"""
print(cadena_de_texto)
print(type(cadena_de_texto))

Las ventajas del lenguaje Python son las siguientes:

Simplificado y rápido
Este lenguaje simplifica mucho la programación
“hace que te adaptes a un modo de lenguaje de programación,
Python te propone un patrón”. Es un gran lenguaje para scripting,
si usted requiere algo rápido
(en el sentido de la ejecución del lenguaje),
con unas cuantas líneas ya está resuelto.

<class 'str'>

In [12]:
print(entero)
entero = decimal
entero = estado_civil
entero = nombre
entero = segundo_nombre
print (entero)

4
David

In [13]:
# Condicionales
# Truty - Falsy
tuplas = (1,2,3) # Arreglos que NO se pueden modificar
listas = [4,5,6] # Arreglos que SI se pueden modificar
diccionario = {
    'nombre' : 'Jose',
    'edad' : 22,
    'cursos': ['Python','Django','JavaScript']
}

print ("dicdionario_completo = ",diccionario)
print ("valor_nombre = ",diccionario['nombre'])
print ("valor_edad =",diccionario['edad'])
print ("valor_cursos = ",diccionario['cursos'])

if('Jose'): # Truty
    #...
    #...
    print ('Truty')
else:
    #...
    #...
    print ('Falsy')
    
    
if(''): # Falsy
    print ('Truty')
else:
    print ('Falsy')
    
nulo = None 
if(nulo): # Falsy
    print ('Truty')
else:
    print ('Falsy')

# NUMEROS
if(-1): # Truty
    print ('Truty')
else:
    print ('Falsy')
    
if(0): # Falsy
    print ('Truty')
else:
    print ('Falsy')
    
if(1): # Truty
    print ('Truty')
else:
    print ('Falsy')

# DECIMALES
if(-1.1): # Truty
    print('Truty')
else:
    print('Falsy')

if(1.2): # Truty
    print('Truty')
else:
    print('Falsy')
    
if(0.0): # Falsy
    print('Truty')
else:
    print('Falsy')


# Tuplas vacias    
if(()): # Falsy
    print('Truty')
else:
    print('Falsy')

# Tuplas llenas
if((1,2,3)): # Truty
    print('Truty')
else:
    print('Falsy')
    
# listas vacias
if([]): # Falsy
    print('Truty')
else:
    print('Falsy')
    
# Listas llenas
if([1,2,3]): # Truty
    print('Truty')
else:
    print('Falsy')
    
# Diccionarios vacios
if({}): # Falsy
    print('Truty')
else:
    print('Falsy')
    
# Diccionarios llenos
if({nombre: "Jose"}): # Truty
    print('Truty')
else:
    print('Falsy')

dicdionario_completo =  {'nombre': 'Jose', 'edad': 22, 'cursos': ['Python', 'Django', 'JavaScript']}
valor_nombre =  Jose
valor_edad = 22
valor_cursos =  ['Python', 'Django', 'JavaScript']
Truty
Falsy
Falsy
Truty
Falsy
Truty
Truty
Truty
Falsy
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [14]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] # indices: 0 - 9

In [35]:
arreglo[0:3] # [0,3[ -> excluimos al indice 3  -> indice 3 = 4 
arreglo[5:]  # Hasta el Final
arreglo[:7]  # Desde el inicio
arreglo[-10] # Indice negativo empieza desde el final
arreglo[3:-2] 
arreglo[-8:8]
arreglo[-4:-1]
arreglo[-7:] # Hasta el Final
arreglo[:-3] # Desde el inicio
arreglo[:]

arreglo_tupla = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
arreglo_tupla[5:9]

(6, 7, 8, 9)

In [36]:
diccionario = {
    'nombre' : 'Jose',
    'edad' : 25,
    'sueldo' : 1.2,
    'cursos': ['Python','Django','JavaScript']
}
# diccionario["nombre"]
# diccionario["sueldo"]
diccionario["cursos"]

['Python', 'Django', 'JavaScript']

In [45]:
10 in arreglo_tupla # in -> averiguo si está dentro de un arreglo
print(10 in arreglo_tupla) 
print(type(10 in arreglo_tupla))
# in me devuelve un bool

True
<class 'bool'>

In [42]:
print(12 in arreglo) # in -> averiguo si está dentro de un arreglo
print(type(12 in arreglo))
# in me devuelve un bool

False
<class 'bool'>

In [49]:
len(arreglo) # len me devuelve la longitud
len(arreglo_tupla)
len(diccionario)

4

In [56]:
"nombre" in diccionario # En Diccionario llave -> True /  Valor -> False

True

In [59]:
# arreglo_tupla[0] = 2 # NO puedo cambiar los elementos de las tuplas
arreglo [0] = 2 # SI puedo cambiar los elementos de las listas

In [60]:
arreglo

[2, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
# arreglo.pop
# arreglo.append
# arreglo.insert

In [62]:
for numero_lista in arreglo:
    print(numero_lista)

2
2
3
4
5
6
7
8
9
10

In [64]:
for numeno_tupla in arreglo_tupla:
    print(numeno_tupla)

1
2
3
4
5
6
7
8
9
10

In [66]:
for key in diccionario:
    print(key)

nombre
edad
sueldo
cursos

In [68]:
contador = 0
while contador < 10:
    print(contador)
    contador += 1

0
1
2
3
4
5
6
7
8
9

In [117]:
# MAL ejemplo de DICCIONARIO
jose = {
    True : "Jose",
    False : "Arciniega",
    1 : 12.2,
    1.1 : 89,
    'edad' : 32,
    'mascotas' : [{"nombre_mascota":"Rafaelo"}], # lista de diccionario
    None: None
}
jose
# DICCIONARIO CORRECTO -> llaves = string : valores = cualquier valos

{True: 12.2,
 False: 'Arciniega',
 1.1: 89,
 'edad': 32,
 'mascotas': [{'nombre_mascota': 'Rafaelo'}],
 None: None}

In [108]:
jose['mascotas'][0]

{'nombre-_mascota': 'Rafaelo'}

In [118]:
# DICCIONARIOS: llaves = Valores 
jose['edad'] = 26 # cambiar valor de una llave
jose['apellido'] = 'Arciniega' # agregar un llave con su respectivo valor
jose['mascotas'][0]["nombre_mascota"] = 'Panda'# añadir un valor a una llave tipo diccionario

In [119]:
jose

{True: 12.2,
 False: 'Arciniega',
 1.1: 89,
 'edad': 26,
 'mascotas': [{'nombre_mascota': 'Panda'}],
 None: None,
 'apellido': 'Arciniega'}

In [122]:
print(type(jose.keys()))

<class 'dict_keys'>

In [124]:
print(type(jose.values()))

<class 'dict_values'>

In [126]:
for llave in jose.keys():
    print (llave)

True
False
1.1
edad
mascotas
None
apellido

In [127]:
for valor in jose.values():
    print (valor)

12.2
Arciniega
89
26
[{'nombre_mascota': 'Panda'}]
None
Arciniega

In [131]:
1 == 1 or 2 == 2

True

In [130]:
1 != 1 and 2 != 2

False

In [132]:
1 == 1 or 2 != 2

True

In [135]:
1 == 1 and 2 != 2

False